*{
    margin: 0;
    padding: 0;
}

header {
    display: block;
    height: 5rem;
    position: static;
    background-color: black;
    font: arial;
}

.input-container {
    margin-top: 1rem;
    text-align: center;
}

h1 {
    margin-top: 1rem;
    margin-left: 1rem;
    color: white;
    background-color: black;
    
}

h2 {
    font: arial;
    color: white;
}

img {
    width: 100px;
}

section {
    display: flex;
    width: 25rem;
    height: 8rem;
    margin: 1rem auto;
    align-items: center;
    justify-content: space-around;
    background-color: orange;
    border-radius: 1rem;
}

.imagem-footer {
    width: 50px;   
}

.nome-lucas {
    color: white;
    }

.imagem-whats {
    width: 50px;
}

.imagem-facebook {
    width: 50px;
}

.imagem-insta {
    width: 50px;
}

footer {
    background-color: black;
    height: 80px;
    text-align: center;
}

.container {
    display: grid;
    background-color: rgb(181, 238, 181);
    min-height: 100vh;
    min-width: 100vw;
    align-items: center;
}

.itens-container {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 100vh;
}

.div-descricao {
    width: 200px;
    text-align: center;
}

.div-imagem {
    display: flex;
    align-items: center;
}

.descricao {
    font-weight: bold;
    list-style-type: none;
}

@media screen and (min-width : 320px) and (max-width : 480px) {
    section {
        justify-content: space-around;
        width: 18rem;
        height: 10rem;
    }

    header {
        text-align: center;
    }

    .input-container {
        align-items: center;
    }

    footer {
        height: 80px;
    }

}



